<div class="wrap" >
  <div class="inline">
    <nav class="navbar navbar-inverse"  >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="#">Accenture Outlet</a>
      </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAwig_520b7jEqVBk-HSUMt2yf-apdKQSAxqk_pxbxieApM91E">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home" >Home_pietroCorvo</a></li>
        
      </ul>
      <form *ngIf="check==false" class="navbar-form navbar-right">
        <div class="form-group">
          <i class="glyphicon glyphicon glyphicon-user input-lg "></i><input type="text" [(ngModel)]="logger.username"  class="form-control " placeholder="Username" name="Username" >
          <i class="glyphicon glyphicon-lock input-lg"></i><input type="password" class="form-control" [(ngModel)]="logger.password"  placeholder="Password" name="Password">
          <button class="btn btn-primary " type="submit"  (click)="login()" >Login</button>
          <button class="btn btn-info" routerLink="/registration" type="submit" >Registrati</button>
        </div>

</form>

<div *ngIf="check==true"  class="navbar-form navbar-right true"> 
  <h2>
    Benvenuto {{logger.name}}
  </h2>
  <button class="btn btn-info" routerLink="home" (click)="logout()" type="submit" >Logout</button>
</div>

    </div>
  </nav>
</div>
</div>
  