 .wrap{
   width: 1200px;
   position: relative;
   margin: 0 auto;
   padding: 0;
 }

 .inline {width: 100%; 
position: relative;}
 .contenitore_destro{width: 12%;  float: right;

 }
 .contenitore_sinistro {width: 85%; float: left;
 }

 .container {margin-bottom:20px;}
 
 .card-custom {
    overflow: hidden;
    min-height: 450px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
p.card-text {height: 85px; 
    overflow: hidden;     margin: 0 10px;  ;

}
  .card-footer {margin-bottom:10px;}
  .card-custom-avatar img {border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;

    top: 129px;
    left: 17px;
    width: 70px;
    height: 70px;}

    .immagine img {width: 150px;height: 150px;
    border-top:25px;}

 

    .contenit{   min-height: 250px;
      box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);}

.posizionecarrello{    
  height: auto;
  border: 1px solid;
  padding: 0;
  width: 250px;
  text-align: left;
z-index: 99;}