
     
           <div class="carrellino"
              *ngFor= "let cart  of cart"> 
  
              <div class="col-md-12 " style="margin: 0 0 20px 0"> 
              
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-body" style="overflow-y: auto; font-size: 10px">
                      <h5 class="card-title">Articolo: {{cart.nomeArticolo}}</h5> 
                      <h5 class="card-title">Qta: {{  cart.quantita}} Pz: {{   cart.prezzo}}€</h5>
                      <a class="btn btn-primary input-sm" (click)="del(cart)" >Elimina</a>
                      <button type="button" (click)="deleteTier(cart.id)"> delete </button>
                  </div>

                </div>
              </div>
                    
            </div>   
     
