<p>
  carello works!
</p>
<div class="wrap">
    <div class="inline">
        <div class="container">
<!--            <div 
              *ngFor= "let articolo  of carello"> 
  
              <div class="col-md-6 col-lg-4 pb-3" style="margin: 0 0 20px 0">
              
                <div class="card card-custom bg-white border-white border-0">
                  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                  <div class="card-custom-avatar">
                    <img class="img-fluid" src="https://www.accenture.com/t00010101T000000Z__w__/es-es/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Global/Dualpub_124/Accenture-Fowardmark-Gradient-Public-Service-New.png" alt="Avatar" />
                  </div>
                  <div class="card-body" style="overflow-y: auto">
                   
                      <h2 class="card-title">{{articolo.nome}}</h2>
                      <h3 class="card-text">{{articolo.categoria}}</h3>
                      <h3 class="card-text">{{articolo.marca}}</h3>
                      <p class="card-text">{{articolo.descrizione}}</p>
                      <h3 class="card-title">{{articolo.prezzo}}€</h3>
                     
                 
                      
                    </div>
                   <div class="card-footer" style="background: inherit; border-color: inherit;">
                          <a class="btn btn-primary input-xl"  >Togli dal Carello</a>
  
                  </div>

                </div>
              </div>
            -->          
            </div>
          </div>
 
    </div>
  
  
  </div>
  